// This is where you can import other stylesheets or write your scss code
@use "../../node_modules/bootstrap/scss/bootstrap";
@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,900;1,100&display=swap');


// BASIC SETTINGS
html
{
  // Verhindert das die Überschrift unter die sticky navbar fällt
  scroll-padding-top: 5rem;
}

body
{
    // font-family: Helvetica, sans-serif;
    font-family: 'Archivo', sans-serif;
}

// NAVBAR

// Set the behavior to close the navbar when clicking outside
// .navbar
// {
//     z-index:2;
//     box-shadow:0 2px 10px rgba(0,0,0,0.1);
// }
//   .close-navbar-toggler
//   {
//     position:absolute;
//     top:0;
//     left:0;
//     height:100%;
//     width:100%;
//     z-index:1;
//     cursor:pointer;
//   }
//   .close-navbar-toggler.collapsed
//   {
//     z-index:-1;
//   }

// DARK MODE - SETTINGS
.fa-toggle-off
{
  font-size: 2rem;
  color: var(--bs-teal);
}

.fa-toggle-on
{
  font-size: 2rem;
  color: var(--bs-teal);
}

// DARK MODE - COLOR ADJUSTMENTS

.fc-white
{
  color: var(--bs-white);
}

.fc-bright
{
  color: var(--bs-gray-300) !important;
}

.fc-bright2
{
  color: var(--bs-gray-500) !important;
}

.bc-gray
{
  border-color: var(--bs-gray-800) !important;
}

//   PSEUDO-CLASSES FOR BUTTONS
.fa-house
{
    color: var(--bs-teal);
    font-size: 1.5rem;
}

[type=button]
{
    border-color: var(--bs-teal);
    color: var(--bs-teal);
    &:hover
      {
        color: var(--bs-white);
        background-color: var(--bs-teal);
        border-color: var(--bs-teal);
        box-shadow: 0 0.5rem 1rem var(--bs-green);
      }   
    &:active
      {
        color: var(--bs-white);
        background-color: var(--bs-teal);
        border-color: var(--bs-teal);
        box-shadow: inset 0 0.5rem 1rem var(--bs-green) !important;
      }
    &:focus
      {
        color: var(--bs-white);
        background-color: var(--bs-teal);
        box-shadow: none;
      }
    a
      {
        color: var(--bs-teal);
        &:hover
        {
          color: var(--bs-white);
        }
      }
}

// HEADER CHANGES

// header *
// {
//     border: 1px solid red;
// }

header
{
    // border: 1px solid blue;
    h1 
    {
        color: var(--bs-teal);
        font-size: 16px !important;
    }

    h2 
    {
        color: var(--bs-gray-900);
        font-size: clamp(40px,8vw,80px)  !important;
        font-weight: 900 !important;
    }

    h3 
    {
        color: var(--bs-gray-700);
        font-size: clamp(40px,8vw,80px)  !important;
        font-weight: 900 !important;
    }

    p 
    {
        color: var(--bs-gray-500);
        text-align: justify;
    }
    
    a 
    {
      max-width: fit-content;
    }
}

// SECTION - ABOUT ME

.about-me
{
    // border: 1px solid red;
    img 
    {
      position: relative;
      border-radius: 50%;
      background: linear-gradient(135deg, var(--bs-teal), var(--bs-purple));
      background-clip: padding-box;
      padding: 5px;
    }
    .img-object-fit
    {
      object-fit: cover;
    }
    h1 
    {
      color: var(--bs-gray-700);
    }
    p
    {
      color: var(--bs-gray-500);
    }
}

.skillset
{
  // border:2px solid red;
  h1 
  {
    color: var(--bs-gray-700);
  }

  .card-header
    {
      color: var(--bs-gray-900);
    }

  .card-body div
    {
      // border: 2px solid green;
      position: relative;
      i 
      {
        transition: 0.5s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      a 
      {
        opacity: 0;
        transition: 0.3s;
        text-decoration: none;
        visibility: hidden;
        color: var(--bs-teal);
      }
      
    &:nth-of-type(odd)
      {
        i 
        {
          color: var(--bs-danger);
        }
      }
    &:nth-of-type(even)
      {
        i 
        {
          color: var(--bs-teal);
        }
      }
    &:hover
      {
        i
        {
          top: 25%;
          left: 12.5%;
          transform: rotate(-45deg);
        }
        a 
        {
          opacity: 1;
          position: relative;
          transition: 1s;
          visibility: visible;
        }
      }
    }
}

// SECTION - PROJECTS
.projects
{
  // border: 1px solid green;
  h1 
  {
    color: var(--bs-gray-700);
  }
  .card-body
  {
    color: var(--bs-gray-500);
    a 
    {
      text-decoration: none;
      color: var(--bs-teal);
        &:hover
        {
          color: var(--bs-green);
        }
    }
  }
  .card-title
  {
    color: var(--bs-gray-900);
  }
}

// SECTION - CONTACT
.contact
{
  // border: 1px solid green;
  h1 
  {
    color: var(--bs-gray-700);
  }
  p 
  {
    color: var(--bs-gray-500);
  }
}

// SECTION - FOOTER
.footer
{
  // border: 1px solid green;
  a, p
  {
    text-decoration: none;
    color: var(--bs-gray-500);
  }
  a:hover
  {
    color: var(--bs-teal);
  }
}
